@import "variables";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background-color: $primary-color;
    }

.app {
    text-align: center;
    background-color: $primary-color;
    color: $primary-text-color;
    min-height: 100vh;
    }

.header {
    background-color: $secondary-color;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $primary-text-color;
    }

.footer {
    background-color: $secondary-color;
    color: $primary-text-color;
    min-height: 5vh;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    font-size: calc(10px + 1vmin);
    .gif {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}