@import "variables";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background-color: $primary-color;
    }

.app {
    text-align: center;
    background-color: $primary-color;
    color: $primary-text-color;
    min-height: 100vh;
    }

.header {
    background-color: $secondary-color;
    min-height: 10vh;
    display: grid;
    grid-template-columns: auto auto 3fr;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $primary-text-color;
    .icon {
        min-width: 60px;
        min-height: 60px;
        // border-radius: 50%;
        margin-left: 20px;
        // margin-right: 0px;
    }
    .name {
        margin-left: 1vw;
        text-align: left;
        font-size: calc(20px + 2vmin);
    }
    .nav {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
        a {
            color: $primary-text-color;
            text-decoration: none;
            margin-left: 20px;
            font-size: calc(10px + 1vmin);
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer {
    background-color: $secondary-color;
    color: $primary-text-color;
    min-height: 5vh;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    font-size: calc(10px + 1vmin);
    .gif {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}